<div class="container">

    <div class="onhealth-container">
        <p class="onhealth-title"><span class="highlight">ON</span>HEALTH</p>

        <div class="content">
            <router-outlet></router-outlet>
        </div>

        <div class="sidebar">
            <ul>
                <li><a routerLink="queries" routerLinkActive="active">Edad por <br>municipio</a></li>
                <li><a routerLink="children-municpipality" routerLinkActive="active">Niños de <br>municipio</a></li>
                <li><a routerLink="children-vaccined" routerLinkActive="active">Niños <br> Vacunados</a></li>
                <li><a routerLink="children-wv" routerLinkActive="active">Niños sin<br> vacuna</a></li>
            </ul>
        </div>

    </div>
</div>